<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AvionServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.project.controller.AvionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RutaServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.project.controller.RutaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoAvionServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.project.controller.TipoAvionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AerolineaServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.project.controller.AerolineaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuariosServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.project.controller.UsuariosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicoServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.project.controller.PublicoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaisServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.project.controller.PaisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsientoServlet</servlet-name>
        <servlet-class>cr.ac.una.prograiv.project.controller.AsientoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AvionServlet</servlet-name>
        <url-pattern>/AvionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RutaServlet</servlet-name>
        <url-pattern>/RutaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoAvionServlet</servlet-name>
        <url-pattern>/TipoAvionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AerolineaServlet</servlet-name>
        <url-pattern>/AerolineaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuariosServlet</servlet-name>
        <url-pattern>/UsuariosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicoServlet</servlet-name>
        <url-pattern>/PublicoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaisServlet</servlet-name>
        <url-pattern>/PaisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsientoServlet</servlet-name>
        <url-pattern>/AsientoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
